<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.free.framework.core.user.mapper.UserMapper">

    <sql id="BASE_SELECT_COLUMN">
        ${userAliases}.id,
        ${userAliases}.name,
        ${userAliases}.age,
        ${userAliases}.mobile,
        ${userAliases}.face,
        ${userAliases}.type,
        ${userAliases}.sex,
        ${userAliases}.login_code,
        ${userAliases}.login_password,
        ${userAliases}.save_date,
        ${userAliases}.save_person,
        ${userAliases}.update_date,
        ${userAliases}.update_person,
        ${userAliases}.status
    </sql>

    <!--查询用户列表信息-->
    <select id="listUser" parameterType="com.free.framework.core.user.controller.param.UserParam" resultType="com.free.framework.core.user.entity.User">
        SELECT
            <include refid="BASE_SELECT_COLUMN">
                <property name="userAliases" value="user_info"/>
            </include>,
            organization.name organization_name
        FROM
            free_user user_info
                INNER JOIN free_organization organization ON user_info.organization_id = organization.id
        WHERE 1 = 1
        <if test="null != id and id != ''">
            AND id = #{id}
        </if>
        <if test="null != loginCode and loginCode != ''">
            AND login_code = #{loginCode}
        </if>
        <if test="null != name and name != ''">
            AND LOCATE(#{name}, name) > 0
        </if>
        <if test="null != type and type != '' and type != 0">
            AND type = #{type}
        </if>
        <if test="null != status and status != '' and status != 0">
            AND status = #{status}
        </if>
        ORDER BY id DESC
    </select>

    <!--查询用户详情-->
    <select id="getUser" parameterType="integer" resultType="com.free.framework.core.user.entity.User">
        SELECT
            <include refid="BASE_SELECT_COLUMN">
                <property name="userAliases" value="user_info"/>
            </include>,
            organization.id organization_id,
            organization.name organization_name
        FROM
            free_user user_info
                INNER JOIN free_organization organization ON user_info.organization_id = organization.id
        WHERE
            user_info.id = #{id}
        LIMIT 1
    </select>

    <!--根据登陆账号查询用户信息-->
    <select id="getUserByLoginCode" parameterType="string" resultType="com.free.framework.core.user.entity.User">
        SELECT
            <include refid="BASE_SELECT_COLUMN">
                <property name="userAliases" value="user_info"/>
            </include>
        FROM
            free_user user_info
        WHERE
            login_code = #{loginCode}
        LIMIT 1
    </select>

    <!--新增用户-->
    <insert id="saveUser" parameterType="com.free.framework.core.user.entity.User">
        INSERT INTO free_user(
            id,
            name,
            age,
            mobile,
            face,
            type,
            sex,
            login_code,
            login_password,
            save_date,
            save_person,
            update_date,
            update_person,
            status,
            organization_id
        ) VALUES (
            #{id},
            #{name},
            #{age},
            #{mobile},
            #{face},
            #{type},
            #{sex},
            #{loginCode},
            #{loginPassword},
            #{saveDate},
            #{savePerson},
            #{updateDate},
            #{updatePerson},
            #{status},
            #{organizationId}
        )
    </insert>

    <!--修改用户信息-->
    <update id="updateUser" parameterType="com.free.framework.core.user.entity.User">
        UPDATE
            free_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != name and name != ''">
                name = #{name},
            </if>
            <if test="null != age and age != ''">
                age = #{age},
            </if>
            <if test="null != mobile and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="null != face and face != ''">
                face = #{face},
            </if>
            <if test="null != type and type != ''">
                type = #{type},
            </if>
            <if test="null != sex and sex != ''">
                sex = #{sex},
            </if>
            <if test="null != loginCode and loginCode != ''">
                login_code = #{loginCode},
            </if>
            <if test="null != updateDate">
                update_date = #{updateDate},
            </if>
            <if test="null != updatePerson and updatePerson != ''">
                update_person = #{updatePerson},
            </if>
            <if test="null != status and status != ''">
                status = #{status},
            </if>
            <if test="null != organizationId">
                organization_id = #{organizationId},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

</mapper>