<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.free.framework.core.organization.mapper.OrganizationMapper">
	<sql id="BASE_SELECT_COLUMN">
		organization.id,
		organization.name,
		organization.pid,
		organization.order_num,
		organization.icon,
		organization.status,
		organization.save_date,
		organization.save_person,
		organization.update_date,
		organization.update_person
  	</sql>
  	
  	<select id="getOrganization" resultType="com.free.framework.core.organization.entity.Organization" parameterType="Integer">
  		SELECT
			<include refid="BASE_SELECT_COLUMN"/>,
			organization1.NAME pName
  		FROM
  			free_organization organization
  				LEFT JOIN free_organization organization1 ON organization.pid = organization1.id
  		WHERE organization.id = #{id} LIMIT 1
  	</select>
  
  	<select id="listOrganization" resultType="com.free.framework.core.organization.entity.Organization" parameterType="com.free.framework.core.organization.controller.param.OrganizationParam">
  		SELECT
			<include refid="BASE_SELECT_COLUMN"/>,
			organization1.name pName
		FROM
			free_organization organization
			LEFT JOIN free_organization organization1 ON organization.pid = organization1.id
		WHERE 1=1
  		<if test="id!=null and id!=''">
  			AND id = #{id}
  		</if>
  		<if test="name!=null and name!=''">
  			AND name = #{name}
  		</if>
  		<if test="pid!=null and pid!=''">
  			AND pid = #{pid}
  		</if>
  		<if test="status != null and status != '' and status != 0">
  			AND status = #{status}
  		</if>
  	</select>

	<!--查询组织列表树-->
    <select id="treeOrganization" resultType="com.free.framework.core.organization.vo.OrganizationTreeVO">
		SELECT
			id,
			name,
			pid pid,
			order_num
		FROM
			free_organization
		WHERE status = '1'
	</select>

    <insert id="saveOrganization" parameterType="com.free.framework.core.organization.entity.Organization">
  		INSERT INTO free_organization 
  		(
			name,
			pid,
			order_num,
			icon,
			status,
			save_date,
			save_person,
			update_date,
			update_person
		) 
  		VALUES 
  		(
			#{name},
			#{pid},
			#{orderNum},
			#{icon},
			#{status},
			#{saveDate},
			#{savePerson},
			#{updateDate},
			#{updatePerson}
  		)
	</insert>
  
  	<update id="updateOrganization" parameterType="com.free.framework.core.organization.entity.Organization">
  		UPDATE free_organization SET 
  		<trim suffixOverrides=",">
				<if test="null != id">
					id = #{id},
				</if>
	    		<if test="null != name and name != ''">
					name = #{name},
				</if>
				<if test="null != pid">
					pid = #{pid},
				</if>
				<if test="null != orderNum">
					order_num = #{orderNum},
				</if>
	    		<if test="null != icon and icon != ''">
					icon = #{icon},
				</if>
				<if test="null != status">
					status = #{status},
				</if>
				<if test="null != saveDate">
					save_date = #{saveDate},
				</if>
	    		<if test="null != savePerson and savePerson != ''">
					save_person = #{savePerson},
				</if>
				<if test="null != updateDate">
					update_date = #{updateDate},
				</if>
	    		<if test="null != updatePerson and updatePerson != ''">
					update_person = #{updatePerson},
				</if>
  		</trim>
  		WHERE id = #{id}
  	</update>
</mapper>