<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <style>
        .table th, .table td {
            text-align: left;
            vertical-align: middle!important;
        }
    </style>
<div>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="background-color: #fff">
                <li><a href="javascript:void(0);">组织架构</a></li>
                <li><a href="javascript:void(0);" class="active">组织管理</a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>组织信息管理(共<span th:text="${pageInfo.total}"></span>条)</h3>
                </div>
                <div class="x_content">
                    <!--查询数据-->
                    <form th:action="@{'/organizations/'}" class="form" id="search_form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon">编号</span>
                                    <input class="form-control" name="id" id="id" th:value="${organizationParam.id}"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon">名称</span>
                                    <input class="form-control" name="name" id="name" th:value="${organizationParam.name}"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon">状态</span>
                                    <select class="form-control" name="status" id="status">
                                        <option th:selected="${organizationParam.status == '0'}" th:value="0">--全部--</option>
                                        <option th:selected="${organizationParam.status == '1'}" th:value="1">启用</option>
                                        <option th:selected="${organizationParam.status == '-1'}" th:value="-1">停用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <button type="button" class="btn btn-info" th:onclick="'searchForm()'">
                                    <span class="glyphicon glyphicon-search"></span>
                                    搜索
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-primary" th:onclick="'dialog(\'organizations/page/add\', \'\', \'新增用户\', \'600px\')'">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    新增
                                </button>
                            </div>
                        </div>
                    </form>

                    <!--列表数据-->
                    <table class="table tree">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>上级组织</th>
                                <th>图标</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
							<tr th:each="organization,organizationStat : ${pageInfo.list}"
                                th:class="${organization.pid == -1} ?
                                    'treegrid-' + ${organizationStat.index + 1} :
                                    'treegrid-' + ${organization.id} + ' treegrid-parent-' + ${organization.pid}">
                                <td th:text="${organization.name}"></td>
                                <td th:text="${organization.pid == -1} ? '公司' : ${organization.pName}"></td>
                                <td th:text="${organization.icon}"></td>
                                <td th:text="${organization.status == '1'} ? '启用' : '停用'" th:style="${organization.status == '1'} ? 'color:green' : 'color:red'"></td>
								<td>
                                    <a th:onclick="'dialog(\'organizations/' + ${organization.id} + '\', \'\', \'查看组织详情\', \'600px\')'" class="btn btn-primary btn-xs">
                                        <i class="fa fa-folder"></i> 查看
                                    </a>
                                    <a th:onclick="'dialog(\'organizations/page/update\', {id:' + ${organization.id} + '}, \'编辑组织\', \'600px\')'" class="btn btn-info btn-xs">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                    <a th:if="${organization.status == '1'}" th:onclick="'updateStatus(\'organizations/\', ' + ${organization.id} + ', \'-1\')'" class="btn btn-danger btn-xs">
                                        <i class="fa fa-folder"></i> 停用
                                    </a>
                                    <a th:if="${organization.status == '-1'}" th:onclick="'updateStatus(\'organizations/\', ' + ${organization.id} + ', \'1\')'" class="btn btn-danger btn-xs">
                                        <i class="fa fa-folder"></i> 启用
                                    </a>
								</td>
							</tr>
                        </tbody>
                    </table>
                    <!--分页-->
                    <div th:replace="common/common_bootstrap_page::bootstrap_page"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.tree').treegrid({
            expanderExpandedClass: 'glyphicon glyphicon-minus',
            expanderCollapsedClass: 'glyphicon glyphicon-plus',
            initialState: 'closed',
        });
    });
</script>
</html>