<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="background-color: #fff">
                <li><a href="javascript:void(0);">组织架构</a></li>
                <li><a href="javascript:void(0);" class="active">组织管理</a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>组织信息管理</h3>
                </div>
                <div class="x_content">
                    <!--查询数据-->
                    <form th:action="@{/organizations/}" class="form" id="search_form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon">编号</span>
                                    <input class="form-control" name="id" id="id" th:value="${organizationParam.id}"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon">名称</span>
                                    <input class="form-control" name="name" id="name" th:value="${organizationParam.name}"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon">状态</span>
                                    <select class="form-control" name="status" id="status">
                                        <option th:selected="${organizationParam.status == '0'}" th:value="0">--全部--</option>
                                        <option th:selected="${organizationParam.status == '1'}" th:value="1">启用</option>
                                        <option th:selected="${organizationParam.status == '-1'}" th:value="-1">停用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <button type="button" class="btn btn-info" th:onclick="'searchForm()'">
                                    <span class="glyphicon glyphicon-search"></span>
                                    搜索
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-primary" th:onclick="'dialog(\'/organizations/page/add\', \'\', \'新增用户\', \'600px\')'">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    新增
                                </button>
                            </div>
                        </div>
                    </form>

                    <!--列表数据-->
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>上级组织</th>
                            <th>图标</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
							<tr th:each="organization : ${pageInfo.list}">
                                <td th:text="${organization.id}"></td>
                                <td th:text="${organization.name}"></td>
                                <td th:text="${organization.pid}"></td>
                                <td th:text="${organization.icon}"></td>
                                <td th:if="${organization.status == '1'}"><span th:text="启用" style="color:green"></span></td>
                                <td th:unless="${organization.status == '1'}"><span th:text="停用" style="color:red"></span></td>
								<td>
                                    <a th:onclick="'dialog(\'/organizations/' + ${organization.id} + '\', \'\', \'查看组织详情\', \'600px\')'" style="cursor:pointer;">
                                        <i class="fa fa-folder"></i>
                                        <span>查看</span>
                                    </a>
                                    <a th:onclick="'dialog(\'/organizations/page/update\', {id:' + ${organization.id} + '}, \'编辑组织\', \'600px\')'" style="cursor:pointer;">
                                        <i class="fa fa-pencil"></i>
                                        <span>编辑</span>
                                    </a>
                                    <a th:if="${organization.status == '1'}" th:onclick="'updateStatus(\'/organizations/\', ' + ${organization.id} + ', \'-1\')'" style="cursor:pointer;">
                                        <i class="fa fa-trash-o"></i>
                                        <span th:text="停用"></span>
                                    </a>
                                    <a th:if="${organization.status == '-1'}" th:onclick="'updateStatus(\'/organizations/\', ' + ${organization.id} + ', \'1\')'" style="cursor:pointer;">
                                        <i class="fa fa-trash-o"></i>
                                        <span th:text="启用"></span>
                                    </a>
								</td>
							</tr>
                        </tbody>
                    </table>
                    <!--分页-->
                    <div th:replace="common/common_page::page"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>