<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="background-color: #fff">
                <li><a href="javascript:void(0);">组织架构</a></li>
                <li><a href="javascript:void(0);" class="active">组织管理</a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>组织信息管理</h3>
                </div>
                <div class="x_content">
                    <form th:action="@{'/organizations/'}" class="form" id="search_form"></form>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="button" class="btn btn-primary" th:onclick="'dialog(\'organizations/page/add\', \'\', \'新增组织\', \'600px\')'">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                新增
                            </button>
                        </div>
                    </div>

                    <!--列表数据-->
                    <table class="table" id="treeTable">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        treeTable();
    });

    function treeTable() {
        var $table = $('#treeTable');
        $table.bootstrapTable({
            url: '/organizations/tree',
            height: $(window).height(),
            striped: true,
            sidePagination: 'server',
            idField: 'id',
            columns: [
                {
                    field: 'name',
                    title: '名称',
                    align: 'left',
                },
                {
                    field: 'pname',
                    title: '上级组织'
                },
                {
                    field: 'icon',
                    title: '图标'
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: 'statusFormatter'
                },
                {
                    field: 'id',
                    title: '操作',
                    align: 'center',
                    formatter: 'operationFormatter'
                }
            ],
            treeShowField: 'name',
            onLoadSuccess: function(data) {
                $table.treegrid({
                    initialState: 'collapsed',
                    treeColumn: 0,
                    onChange: function() {
                        $table.bootstrapTable('resetWidth');
                    }
                });

            }
        });
    }

    // 格式化状态
    function statusFormatter(value, row, index) {
        if (value == 1) {
            return '<span style="color: green">启用</span>';
        } else {
            return '<span style="color: red">停用</span>';
        }
    }

    function operationFormatter(value, row, index) {
        var status = row.status;
        var template = '<a onclick="dialog(\'organizations/' + value +'\', \'\', \'查看组织详情\', \'600px\')" class="btn btn-primary btn-xs">';
        template += '<i class="fa fa-folder"></i> 查看';
        template += '</a>';
        template += '<a onclick="dialog(\'organizations/page/update\', {id:' + value + '}, \'编辑组织\', \'600px\')" class="btn btn-info btn-xs">';
        template += '<i class="fa fa-pencil"></i> 编辑';
        template += '</a>';
        if (status == 1) {
            template += '<a onclick="updateStatus(\'organizations/\', \'' + value +'\', \'-1\')" class="btn btn-danger btn-xs">';
            template += '<i class="fa fa-folder"></i> 停用';
            template += '</a>';
        } else {
            template += '<a onclick="updateStatus(\'organizations/\', \''+ value +'\', \'-1\')" class="btn btn-danger btn-xs">';
            template += '<i class="fa fa-folder"></i> 启用';
            template += '</a>';
        }
        return template;
    }
</script>
</html>