<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.free.framework.core.resource.mapper.ResourceMapper">
	<sql id="BASE_SELECT_COLUMN">
		${resourceAliases}.id,
		${resourceAliases}.name,
		${resourceAliases}.pid,
		${resourceAliases}.order_num,
		${resourceAliases}.path,
		${resourceAliases}.type,
		${resourceAliases}.status,
		${resourceAliases}.save_date,
		${resourceAliases}.save_person,
		${resourceAliases}.update_date,
		${resourceAliases}.update_person
  	</sql>
  	
  	<select id="getResource" resultType="com.free.framework.core.resource.entity.Resource" parameterType="Integer">
  		SELECT 
			<include refid="BASE_SELECT_COLUMN">
				<property name="resourceAliases" value="resource"/>
			</include>,
			resource1.name pName
		FROM 
			free_resource resource
				LEFT JOIN free_resource resource1 ON resource.pid = resource1.id
		WHERE resource.id = #{id}
		LIMIT 1
  	</select>
  
  	<select id="listResource" resultType="com.free.framework.core.resource.entity.Resource" parameterType="com.free.framework.core.resource.controller.param.ResourceParam">
  		SELECT
			<include refid="BASE_SELECT_COLUMN">
				<property name="resourceAliases" value="resource"/>
			</include>,
			resource1.name pName
		FROM
			free_resource resource
				LEFT JOIN free_resource resource1 ON resource.pid = resource1.id
		WHERE 1 = 1 AND resource.id != 0
  	</select>

	<!-- 查询资源树信息 -->
    <select id="treeResource" resultType="com.free.framework.core.resource.vo.ResourceTreeVO">
		SELECT
			id,
			name,
			pid,
			order_num
		FROM
			free_resource
		WHERE status = '1'
	</select>

    <insert id="saveResource" parameterType="com.free.framework.core.resource.entity.Resource">
  		INSERT INTO free_resource 
  		(
			name,
			pid,
			order_num,
			path,
			type,
			status,
			save_date,
			save_person,
			update_date,
			update_person
		) 
  		VALUES 
  		(
			#{name},
			#{pid},
			#{orderNum},
			#{path},
			#{type},
			#{status},
			#{saveDate},
			#{savePerson},
			#{updateDate},
			#{updatePerson}
  		)
	</insert>
  
  	<update id="updateResource" parameterType="com.free.framework.core.resource.entity.Resource">
  		UPDATE free_resource SET 
  		<trim suffixOverrides=",">
				<if test="null != id">
					id = #{id},
				</if>
	    		<if test="null != name and name != ''">
					name = #{name},
				</if>
				<if test="null != pid">
					pid = #{pid},
				</if>
				<if test="null != orderNum">
					order_num = #{orderNum},
				</if>
	    		<if test="null != path and path != ''">
					path = #{path},
				</if>
				<if test="null != type">
					type = #{type},
				</if>
				<if test="null != status">
					status = #{status},
				</if>
				<if test="null != saveDate">
					save_date = #{saveDate},
				</if>
	    		<if test="null != savePerson and savePerson != ''">
					save_person = #{savePerson},
				</if>
				<if test="null != updateDate">
					update_date = #{updateDate},
				</if>
	    		<if test="null != updatePerson and updatePerson != ''">
					update_person = #{updatePerson},
				</if>
  		</trim>
  		WHERE ID=#{id}
  	</update>
</mapper>