<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.free.framework.core.resource.mapper.ResourceMapper">
	<sql id="BASE_SELECT_COLUMN">
		ID,
		NAME,
		PID,
		ORDER_NUM,
		PATH,
		TYPE,
		STATUS,
		SAVE_DATE,
		SAVE_PERSON,
		UPDATE_DATE,
		UPDATE_PERSON
  	</sql>
  	
  	<select id="getResource" resultType="com.free.framework.core.resource.entity.Resource" parameterType="Integer">
  		SELECT <include refid="BASE_SELECT_COLUMN"/> FROM free_resource WHERE ID=#{id}
  	</select>
  
  	<select id="listResource" resultType="com.free.framework.core.resource.entity.Resource" parameterType="com.free.framework.core.resource.controller.param.ResourceParam">
  		SELECT <include refid="BASE_SELECT_COLUMN"/> FROM free_resource WHERE 1=1
  		<if test="id!=null and id!=''">
  			AND ID =# {id}
  		</if>
  		<if test="name!=null and name!=''">
  			AND NAME =# {name}
  		</if>
  		<if test="pid!=null and pid!=''">
  			AND PID =# {pid}
  		</if>
  		<if test="type!=null and type!='' and type != 0">
  			AND TYPE =# {type}
  		</if>
		<if test="status != null and status != '' and status != 0">
			AND STATUS = #{status}
		</if>
  	</select>
  
  	<insert id="saveResource" parameterType="com.free.framework.core.resource.entity.Resource">
  		INSERT INTO free_resource 
  		(
			
			NAME,
			PID,
			ORDER_NUM,
			PATH,
			TYPE,
			STATUS,
			SAVE_DATE,
			SAVE_PERSON,
			UPDATE_DATE,
			UPDATE_PERSON
		) 
  		VALUES 
  		(
			#{name},
			#{pid},
			#{orderNum},
			#{path},
			#{type},
			#{status},
			#{saveDate},
			#{savePerson},
			#{updateDate},
			#{updatePerson}
  		)
	</insert>
  
  	<update id="updateResource" parameterType="com.free.framework.core.resource.entity.Resource">
  		UPDATE free_resource SET 
  		<trim suffixOverrides=",">
				<if test="null != id">
					ID=#{id},
				</if>
	    		<if test="null != name and name != ''">
					NAME=#{name},
				</if>
				<if test="null != pid">
					PID=#{pid},
				</if>
				<if test="null != orderNum">
					ORDER_NUM=#{orderNum},
				</if>
	    		<if test="null != path and path != ''">
					PATH=#{path},
				</if>
				<if test="null != type">
					TYPE=#{type},
				</if>
				<if test="null != status">
					STATUS=#{status},
				</if>
				<if test="null != saveDate">
					SAVE_DATE=#{saveDate},
				</if>
	    		<if test="null != savePerson and savePerson != ''">
					SAVE_PERSON=#{savePerson},
				</if>
				<if test="null != updateDate">
					UPDATE_DATE=#{updateDate},
				</if>
	    		<if test="null != updatePerson and updatePerson != ''">
					UPDATE_PERSON=#{updatePerson},
				</if>
  		</trim>
  		WHERE ID=#{id}
  	</update>
</mapper>