<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="border:none">
                    <div class="x_content">
                        <br/>
                        <form th:action="@{/users/}" th:object="${user}" id="form" type="post" class="form-horizontal form-label-left">
                            <input type="hidden" id="id" name="id" th:value="*{id}"/>
                            <input type="hidden" id="_method" name="_method" value="PUT"/>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">姓名: <span>*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="name" name="name" class="form-control col-md-7 col-xs-12" th:value="*{name}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loginCode">登录账号: <span>*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="loginCode" name="loginCode" class="form-control col-md-7 col-xs-12" th:value="*{loginCode}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mobile">手机号: <span>*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="mobile" name="mobile" class="form-control col-md-7 col-xs-12" th:value="*{mobile}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">用户类型: <span>*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="type" name="type" class="form-control col-md-7 col-xs-12">
                                        <option th:selected="*{type == '0'}" th:value="0">--全部--</option>
                                        <option th:selected="*{type == '1'}" th:value="1">管理员</option>
                                        <option th:selected="*{type == '2'}" th:value="2">普通用户</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="face">用户头像: <span>*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="face" name="face" class="form-control col-md-7 col-xs-12" th:value="*{face}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="age">年龄: <span>*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="age" name="age" class="form-control col-md-7 col-xs-12" th:value="*{age}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">性别: </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="sex" th:checked="*{sex == '1'}" th:value="1"/> 男
                                        </label>
                                        <label>
                                            <input type="radio" name="sex" th:checked="*{sex == '2'}" th:value="2"/> 女
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="text-align: center">
                                    <button type="submit" class="btn btn-primary">修改</button>
                                    <button class="btn btn-success" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#form").validate({
                // 验证通过之后执行的函数
                submitHandler: function(form) {
                    commonOperate();
                },
                rules: {
                    name: {
                        required: true,
                        rangelength: [2,10],
                    },
                    loginCode: {
                        required: true,
                        rangelength: [6,15],
                    },
                    loginPassword: {
                        required: true,
                        rangelength: [6,15],
                    },
                    loginRePassword: {
                        equalTo:"#loginPassword"
                    },
                    mobile: {
                        mobile: true,
                        minlength: 11,
                        maxlength: 11
                    },
                    type: {
                        required: true,
                        min: 1
                    },
                    age: {
                        min: 1,
                        max: 150
                    }
                },
                messages: {
                    name: {
                        required: '请输入用户名',
                        rangelength: '用户名长度在2-10之间',
                    },
                    loginCode: {
                        required: '请输入登录账号',
                        rangelength: '登录账号长度在6-15之间',
                    },
                    loginPassword: {
                        required: '请输入密码',
                        rangelength: '密码在6-15之间',
                    },
                    loginRePassword: {
                        equalTo: '两次输入的密码不一致'
                    },
                    mobile: {
                        mobile: '手机号格式不正确',
                        minlength: '手机号码必须为11位',
                        maxlength: '手机号码必须为11位'
                    },
                    type: {
                        required: '请选择用户类型',
                        min: '请选择用户类型',
                    },
                    age: {
                        min: '最小年龄为1岁',
                        max: '最大年龄为150岁'
                    }
                }
            });
        });
    </script>
</html>