<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div>
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" style="background-color: #fff">
                    <li><a href="javascript:void(0);">组织架构</a></li>
                    <li><a href="javascript:void(0);" class="active">用户管理</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>用户信息管理(共<span th:text="${pageInfo.total}"></span>条)</h3>
                    </div>
                    <div class="x_content">
                        <!--查询数据-->
                        <form th:action="@{'/users/'}" class="form" id="search_form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">编号</span>
                                        <input class="form-control" name="id" id="id" th:value="${userParam.id}"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">用户名</span>
                                        <input class="form-control" name="loginCode" id="loginCode" th:value="${userParam.loginCode}"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">姓名</span>
                                        <input class="form-control" name="name" id="name" th:value="${userParam.name}"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">状态</span>
                                        <select class="form-control" name="status" id="status">
                                            <option th:selected="${userParam.status == '0'}" th:value="0">--全部--</option>
                                            <option th:selected="${userParam.status == '1'}" th:value="1">启用</option>
                                            <option th:selected="${userParam.status == '-1'}" th:value="-1">停用</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">用户类型</span>
                                        <select class="form-control" name="type" id="type">
                                            <option th:selected="${userParam.type == '0'}" th:value="0">--全部--</option>
                                            <option th:selected="${userParam.type == '1'}" th:value="1">管理员</option>
                                            <option th:selected="${userParam.type == '2'}" th:value="2">普通用户</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <button type="button" class="btn btn-info" th:onclick="'searchForm()'">
                                        <span class="glyphicon glyphicon-search"></span>
                                        搜索
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <button type="button" class="btn btn-primary" th:onclick="'dialog(\'users/page/add\', \'\', \'新增用户\', \'600px\')'">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        新增
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!--列表数据-->
                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>用户名</th>
                                <th>姓名</th>
                                <th>年龄</th>
                                <th>性别</th>
                                <th>头像</th>
                                <th>联系方式</th>
                                <th>用户类型</th>
                                <th>状态</th>
                                <th>所属组织</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${pageInfo.list}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.loginCode}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.sex == '1'} ? '男' : '女'"></td>
                                <td th:text="${user.face}"></td>
                                <td th:text="${user.mobile}"></td>
                                <td th:text="${user.type == '1'} ? '管理员' : '普通用户'" th:style="${user.type == '1'} ? 'color:green' : ''"></td>
                                <td th:text="${user.status == '1'} ? '启用' : '停用'" th:style="${user.status == '1'} ? 'color:green' : 'color:red'"></td>
                                <td th:text="${user.organizationName}"></td>
                                <td>
                                    <a th:onclick="'dialog(\'users/' + ${user.id} + '\', \'\', \'查看用户详情\', \'600px\')'" class="btn btn-primary btn-xs">
                                        <i class="fa fa-folder"></i> 查看
                                    </a>
                                    <a th:onclick="'dialog(\'users/page/update\', {id:' + ${user.id} + '}, \'编辑用户\', \'600px\')'" class="btn btn-info btn-xs">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                    <a th:if="${user.status == '1'}" th:onclick="'updateStatus(\'users/\', ' + ${user.id} + ', \'-1\')'" class="btn btn-danger btn-xs">
                                        <i class="fa fa-folder"></i> 停用
                                    </a>
                                    <a th:if="${user.status == '-1'}" th:onclick="'updateStatus(\'users/\', ' + ${user.id} + ', \'1\')'" class="btn btn-danger btn-xs">
                                        <i class="fa fa-folder"></i> 启用
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--分页-->
                        <div th:replace="common/common_bootstrap_page::bootstrap_page"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>