<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head::header">

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!--left menu-->
            <div th:replace="/common/common_left::left"></div>

            <!-- top navigation -->
            <div th:replace="/common/common_top::top"></div>
            <!-- /top navigation -->

            <!-- page content -->
            <div th:replace="/common/common_right::right"></div>
            <!-- /page content -->

            <!-- footer content -->
            <div th:replace="/common/common_bottom::bottom"></div>
            <!-- /footer content -->
        </div>
    </div>
    <div th:include="/common/common_js::js"></div>
</body>
</html>

